<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="/static/images/logo_white_background.jpg" alt="" class="footer-logo">

								<p>Security, realized.</p>

							</div>

						</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; {{  year }} All Rights Reserved by Realize Security Ltd.<br>
						<a href="/privacy">Privacy Policy</a>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">

							<a href="https://twitter.com/RealizeSec" class="twitter-follow-button" data-show-count="false">
								Follow @RealizeSec</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
							</script>

						</div>

						<div class="clear"></div>

						</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->