{% extends "layout.html" %}

{% block content %}
<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_one_third">

						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Who we are.</h4>
						</div>

						<p>An experienced and dedicated network of developers, penetration testers and IT and cyber security professionals operating globally and dedicated to improvement of security of our clients and partners.</p>

					</div>

					<div class="col_one_third">

						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>Our Mission.</h4>
						</div>

						<p>Realize Sec was founded with the goal of making an effective cyber security solution accessible and affordable for a wide range of teams and organisations for which it was previously out of reach.</p>

					</div>

					<div class="col_one_third col_last">

						<div class="heading-block fancy-title nobottomborder title-bottom-border">
							<h4>What We Do.</h4>
						</div>

						<p>We aim to bring our combined knowledge together in order to create custom solutions that solve our clients needs now and for years to come.</p>

					</div>

				</div>

				<div class="section footer-stick">

					<h4 class="uppercase center">What Clients Say?</h4>

					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<div class="testi-content">
										<p>Test testimonial</p>
										<div class="testi-meta">
											Test name
											<span>Test company</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->
{% endblock %}
