{% extends "layout.html" %}

{% block content %}
<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="section footer-stick">

					<h4 class="uppercase center">The easiest way to reach us is on the email below, we look forward to hearing from you</h4>

					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<div class="testi-content">
										<i class="icon-envelope2"></i> info@realizesec.com <span class="middot">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->
{% endblock  %}