<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

	<!-- Logo
	============================================= -->
	<div id="logo">
		<a href="/home" class="standard-logo" data-dark-logo="/static/images/logo_white_background.jpg"><img src="/static/images/logo_white_background.jpg" alt="Realize Security"></a>
		<a href="index.html" class="retina-logo" data-dark-logo="/static/images/logo_white_background.jpg"><img src="/static/images/logo_white_background.jpg" alt="Realize Security"></a> 
	</div><!-- #logo end -->

		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="dark">
			<ul>
			<li class="current"><a href="/home"><div>Home</div></a>
				</li>
			<li class="mega-menu"><a href="/about"><div>About</div></a>
				</li>
			<li class="mega-menu"><a href="/contact"><div>Contact</div></a>
				</li>				
			</ul>
		</nav><!-- #primary-menu end -->

</header><!-- #header end -->

