{% extends "layout.html" %}

{% block content %}

    <div class="container clearfix">

    	<div class="heading-block topmargin-lg center">
    		<h2>Welcome to Realize Security</h2>
    		<span class="divcenter">Realize Security are a team of dedicated and experienced professionals with a passion for IT, development and cyber security.</span>
            <br>
            <span class="divcenter">We believe that effective cyber security exists as an iterative and long-term mission that must constantly evolve in the face of emerging threats.</span>
            <br>
            <span class="divcenter">With a background covering military, intelligence, security and development, we are in an excellent place to assist and advise you on your pathway to cyber security success.</span>
    	</div>

    </div>
{% endblock  %}